@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins Regular';
    src: url('@/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Light';
    src: url('@/assets/fonts/Poppins-Light.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Extrabold';
    src: url('@/assets/fonts/Poppins-ExtraBold.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('@/assets/fonts/Poppins-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('@/assets/fonts/Poppins-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins SemiBold';
    src: url('@/assets/fonts/Poppins-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Thin';
    src: url('@/assets/fonts/Poppins-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins ExtraLight';
    src: url('@/assets/fonts/Poppins-ExtraLight.ttf');
    font-weight: 300;
    font-style: normal;
}
